
html {
   
   min-height: 100%;
   background-image: url(pic/photo-1432847712612-926caafaa802.jpg);
   background-size: 100%;
   background-repeat: no-repeat;
   background-position: center center;

 }

 .circular--landscape { 
    display: inline-block; 
    position: relative; 
    width: 200px; 
    height: 200px; 
    overflow: hidden; 
    border-radius: 50%; 
} 

.circular--landscape img { 
    width: auto; 
    height: 100%; 
    margin-left: -50px; 
}

.container{
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 200px;
    text-align: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 22%, rgba(0,212,255,1) 100%);
    padding: 50px;
    border-radius: 20px;
    
}

.container .imgcontainer{
       width: 40%;
}

.container p{
    text-align: center;
    color: aliceblue;
    margin-right: 2%;

}
.container h3{
    margin-right: 100px;
    margin-top: 30px;
    color: aliceblue;
    text-align: center;
    margin-left: 15%;
    text-decoration: underline;
}

.container .subcontainer{
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 10px 10px rgba(40, 53, 67, 0.152);
    border-radius: 10px;
    width: 30%;
    padding: 20px;
    
}
.container button{
    background: #169eff;
    color: aliceblue;
    border: none;
    padding: 10px;
    width: 150px;
    border-radius: 30px;
}
.container .signup_button{
    margin-top: 5%;
}