body::before {
    display: block;
    content: '';
    height: 60px;
  }
  
  
  @media (min-width: 768px) {
    .news-input {
      width: 50%;
    }
  }

  .clean-up {
    clear:both;
    padding: 5px;
 }  

 .h1, h1 {
  font-size: calc(1.375rem + 1.5vw);
  text-decoration: underline;
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: left;
}

a{
  
  text-decoration: none;
  color: brown;
  font-family: Courier New, monospace;
  font-size: 18px;
  font-weight: bold;
  line-height: 5px;
}

a:hover {

color: blue;

}

a:active{

  color: brown;
}